* body {
    padding: 0;
    box-sizing: border-box;
    
  }
  
  /*PORTADA*/
  
 
 

  
  
  
.portada{
  width: 100%;
}
  
  /*CUENTA REGRESIVA*/
  
  @media (max-width: 730px) {
    .cuenta-regresiva {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 1em;
      padding: 0.8em;
      margin-top: -65%;
  }
  .cr-time > span {
      font-size: 13px;
      font-weight: bold;
      color: #E140A3;
      
  }
  .cr-desc {
      color: #3f3f3f;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 10px;
      font-weight: 700;
      
  }
  .cr-block {
      background: #c9c9c92e;
      border-radius: 5px;
      padding: 0.1em 0.5em;
      background-size: 80%;
  }
  .Play{
  
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 5%;
    color: #83786D;
    font-weight: 700;
   
   }
    h5{
    font-size: 15px;
    text-align: center;
    margin-top: -5%;
    
    
    }
    .audio{
      width: 35%;
      height: 20px;
      margin-left: 32%;
      background-color:  #ffffff;
      margin-top: -10%;
      
  }
.fondo{
  width: 100%;
}
.corazongif{
  width: 5%;
  margin-left: 60%;
  margin-top: -27%;
}

  .segundo{
width: 17%;
margin-top: -25%;
margin-left: 68%;
  }
.cartel{
  width: 55%;
  margin-top: -285%;
  margin-left: 22%;
}
  .parrafo1{
    text-align: center;
    font-family: 'Alex Brush', cursive;
       font-size: 50px;
      color:  #83786D;
       margin-top: -120%;  
       font-weight: 800;
  }
  .parrafo1 span{
    text-align: center;
    font-family: 'Alex Brush', cursive;
       font-size: 49px;
      color: #A7C5D1;
       margin-top: -130%;  
       font-weight: 800;
  }
  .parrafo2{
    text-align: center;
    font-family: 'Alex Brush', cursive;
       font-size: 50px;
      color:  #83786D; 
       font-weight: 800;
       margin-top: 15%;
       
  }
  .parrafo2 span{
    text-align: center;
    font-family: 'Alex Brush', cursive;
       font-size: 50px;
      color:  #A7C5D1;
       font-weight: 800;
       margin-top: 15%;
       
  }
 .efectofinal{
  width: 120%;
  margin-top: -50%;
 }
}

 


